*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url('img/chao.png');
    background-size: cover; /* Faz a imagem cobrir toda a página */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}